@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700|Roboto+Condensed:300,400,700&display=swap&subset=korean');

body {
    background-color: #d4d4d4;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none;
    color: #333;
}
.body--container {
    max-width: 980px;
    margin: 0 auto;
    background-color: #fff;
}
header.header-nav {
    padding: 10px 30px;
    position: relative;
}
.logo {
    position: absolute;
    top: 42px;
    left: 40px;
    width: 165px;
    height: 35px;
    /* border: 1px solid #ccc; */
    line-height: 35px;
}
.logo h1{
    font-size: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 7px;
}

.sub-nav {
    font-size: 0;
}
.sub-nav li, .sub-nav a {
    display: inline-block;
}
.sub-nav li a {
    font-size: 0.8rem;
    padding: 3px 3px;
}
.sub-nav li::before {
    content: "|";
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #ccc;
    padding: 0 3px;
}
.sub-nav li:first-of-type::before {
    display: none;
}

.header-main {
    margin: 30px 0 20px 0;
    /* border: 1px solid #ccc; */
}
.main-menu {
    border-bottom: 1px solid #000;
    margin-left: 190px;
}
.main-menu>li {
    float: left;
    position: relative;
}
.main-menu>li>a {
    display: block;
    padding: 10px 30px;
}
.main-menu li.on {
    border-bottom: 2px solid #000;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 3px;
    width: 160px;
    background-color: #fff;
    padding: 5px 25px 15px 25px;
    font-size: 0.8rem;
}
.main-menu li.on .sub-menu {
    display: block;
}
.sub-menu li {
}
.sub-menu li a {
    padding: 7px;
    display: block;
}
/* .sub-menu li a::before {
    content: "-";
    font-size: 1.4rem;
    padding: 0 5px 0 0;
    font-weight: 300;
} */
.sub-menu li a:hover::before {
    text-decoration: none;
}
.sub-menu li a:hover {
    text-decoration: underline;
    /* color: #ccc; */
}
/* MAIN BANNER */

section.main-bn {
    background-color: #ccc;
    min-height: 180px;
}



/* VISUAL */

section.visual {
    background-color: #fff;
    min-height: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.group {
    /* background-color: #ddd; */
    border: 1px solid red;
    min-height: 300px;
    margin-right:10px;
}
.group:last-child {
    margin-right: 0;
}

/* GROUP 1 */
.group1 {
    width: 280px;
    /* flex-grow: 1; */
}
/* LOGIN */

.login {
    margin: 10px;
    padding: 18px;
    background-color: #f4f4f4;

   
}
/* .login * {
    border:1px solid red;
} */
.login legend {
    color: #2e5295;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-id, .login-pw {
    height: 27px;
    font-size: 0.8rem;
    width: 160px;
    /* background-color: yellow; */
    margin-bottom: 3px;
    line-height: 27px;
    float: left;
}

.login-id input, .login-pw input {
    width: 110px;
    height: 27px;
    float: right;
    font-size: 0.8rem;
    padding: 3px;
}
.login-btn {
    float: right;
    width: 55px;
    height: 57px;
    margin-top: -30px;
    background-color: #2e5295;
    color: #fff;
    border: 1px solid #fff;
}

.member {
    margin: 7px 0 0 0;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.member a{
    font-size: 0.8rem;
    margin-left: 20px;
}


.group2 {
    flex-grow: 2;
}
.group3 {
    flex-grow: 1;
}